@model IEnumerable<Material>
@{
    int count = (ViewBag.PageIndex - 1) * 5;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Material material in Model)
        {
            count++;
        <tr>
            <th scope="row">@count</th>
            <td>@material.Name</td>
            @*<td>@category.Products.Count()</td>*@
            <td style="color:@(material.IsDeleted ? "red":"white")">@(material.IsDeleted ? "DeActive":"Active")</td>
            <td>
                <a class="btn btn-warning" asp-action="Update" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex" asp-route-id="@material.Id">Update</a>
                <a id="@(material.IsDeleted ? "restoreTag":"deleteTag")" class="btn @(material.IsDeleted ? "btn-primary":"btn-danger")" asp-route-status="@ViewBag.Status"  asp-route-page="@ViewBag.PageIndex" asp-action="@(material.IsDeleted ? "Restore":"Delete")" asp-route-id="@material.Id">@(material.IsDeleted ? "Restore":"Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

