
@model List<LikeVM>
@{
    var Title = "";

}

<div class="styles_cartPopupItems addtocart" style="position: relative">
    @if (Model.Count > 0)
    {
        <h1 class="emptyCart" style="width:70%;top:-8%;">Sizin Bəyəndiyiniz  məhsullar</h1>
        <div class="styles_cartPopupItems-products" style="overflow-y: auto; max-height: 50rem; padding: 1rem">
            @foreach (LikeVM likeVM in Model)
            {
                Title = likeVM.Title + " " + string.Join(" ", likeVM.Product.ProductDetails.OrderByDescending(x => x.DetailKey.UpdatedAt).Where(x => x.DetailKey.ForTitle).Select(p => p.DetailValue.Name));

                <div class="styles_cartProductItem">
                    <button class="styles_removeButton deleteFromlike" type="button" asp-action="DeleteLike" asp-controller="Product" asp-route-id="@likeVM.Product.Id">
                        <svg class="styles_removeIcon" xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13"><path fill="#bebebe" d="M.826 12.474a.83.83 0 0 1-.59-.25.83.83 0 0 1 0-1.17L10.461.838a.83.83 0 0 1 1.162 0 .83.83 0 0 1 0 1.18L1.416 12.224a.83.83 0 0 1-.59.249z"></path><path fill="#bebebe" d="M11.042 12.474a.83.83 0 0 1-.581-.24L.237 2.016A.834.834 0 1 1 1.416.837l10.207 10.225a.83.83 0 0 1-.58 1.412z"></path></svg>
                    </button>
                    <div class="styles_cartProductItemWrapper">
                        <button class="styles_navigateButton">
                            <a class="styles_imageWrapper" asp-controller="product" asp-action="ProductDetail" asp-route-id="@likeVM.Product.Id">
                                <div class="styles_productImage">
                                    <span class="styles_productImage-span">
                                        <img class="styles_productImage-span-img" src="~/User/assets/img/ProductImg/@likeVM.Image" alt="Alternate Text" />
                                    </span>
                                </div>
                            </a>
                        </button>

                        <div class="styles_productInfo">
                            <button class="styles_navigateButton">
                                <a class="styles_productTitleWrap" asp-controller="product" asp-action="ProductDetail" asp-route-id="@likeVM.Product.Id">
                                    <div class="styles_textProductItem">
                                        <h6 class="styles_productTitle">@Title</h6>
                                    </div>

                                </a>
                            </button>
                            <div class="styles_reviews">
                                <div class="styles_stars">

                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if ((likeVM.Reviews != null && likeVM.Reviews.Count() > 0) && i <= (int)Math.Ceiling(likeVM.Reviews.Average(s => s.Star)))
                                        {

                                            <svg class="rew-stared" width="16.125" height="16.52" viewBox="0 0 16.125 16.52"><g id="star_empty" data-name="star empty" transform="matrix(0.309, 0.951, -0.951, 0.309, 12.457, -0.139)"><path id="Path_935" data-name="Path 935" d="M6.944.66,8.631,4.653l4.318.371a.34.34,0,0,1,.194.6L9.867,8.458l.982,4.222a.34.34,0,0,1-.507.368L6.631,10.81,2.919,13.048a.34.34,0,0,1-.507-.368l.982-4.222L.118,5.619a.34.34,0,0,1,.194-.6L4.63,4.652,6.317.66a.34.34,0,0,1,.627,0Z" transform="translate(0)" fill="#ddd"></path></g></svg>

                                        }
                                        else
                                        {

                                            <svg width="16.125" height="16.52" viewBox="0 0 16.125 16.52"><g id="star_empty" data-name="star empty" transform="matrix(0.309, 0.951, -0.951, 0.309, 12.457, -0.139)"><path id="Path_935" data-name="Path 935" d="M6.944.66,8.631,4.653l4.318.371a.34.34,0,0,1,.194.6L9.867,8.458l.982,4.222a.34.34,0,0,1-.507.368L6.631,10.81,2.919,13.048a.34.34,0,0,1-.507-.368l.982-4.222L.118,5.619a.34.34,0,0,1,.194-.6L4.63,4.652,6.317.66a.34.34,0,0,1,.627,0Z" transform="translate(0)" fill="#ddd"></path></g></svg>

                                        }
                                    }
                                </div>
                                <button class="styles_navigateButton">
                                    <a class="styles_reviewsNumber" asp-controller="product" asp-action="ProductDetail" asp-route-id="@likeVM.ProductId">
                                        <span class="styles_tips-text">@likeVM.Reviews.Count() rəy</span>
                                    </a>
                                </button>


                            </div>
                            <div class="styles_productTagWrapper addcart">

                            </div>
                            <div class="styles_productPriceControls addcart">
                                <div class="styles_productAmount">
                                    
                                </div>
                                <div class="styles_priceWrapper">
                                    <div>

                                        <span class="styles_priceWrapper-text">@((Math.Truncate(likeVM.Price)))</span>
                                        @if ((int)(((likeVM.Price) - (int)(likeVM.Price)) * 100) > 0)
                                        {
                                            <span class="styles_priceWrapper-sub">.@((int)(((likeVM.Price) - (int)(likeVM.Price)) * 100))</span>
                                        }

                                        <svg class="styles_priceWrapper-svg" xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13"><path fill="#171717" d="M8.11 1.78L8.092.388 6.983.86l-.029.938C.214 2.851 0 12.56 0 12.56l1.516.077c.096-8.41 4.847-9.656 5.407-9.774L6.65 11.91l1.57-.879-.098-8.168c5.33.717 5.33 9.772 5.33 9.772l1.545.085c.042-.489-.252-10.15-6.888-10.94z"></path></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="styles_cartPopupSummary" style="position: sticky; top: 100%; left: 100%; width: 100%; transform: translateX(0%);">
            <div class="styles_productInfo-bottom">
                <span class="styles_products-count">
                    <span class="styles_tipsLarge">@Model.Count</span>
                    <span class="styles_tipsLarge">Məhsul</span>
                </span>

            </div>

        </div>
    }
    else
    {
        <h1 class="emptyCart" style="width:70%;top:20%;">Sizin Bəyəni siyahısı boşdur</h1>
    }

</div>
