


@model List<UserVM>
@{ ViewData["Title"] = "Index";
    int count = (ViewBag.PageIndex - 1) * 5;
}
<div class="row justify-content-between align-items-center">
    <div class="col-lg-2 h3 mb-4 text-gray-800">
        <h1>Users</h1>
    </div>

</div>

<div class="h3 mb-4 text-gray-800 ">
    <form>
        <div class="form-group d-flex ">
            <div class="col-lg-4">
                <label>Delete Status</label>
                <select class="form-control" name="status">
                    @if (ViewBag.Status == null)
                    {
                        <option selected>All</option>
                        <option value="false">Active</option>
                        <option value="true">DeActive</option>
                    }
                    else if (ViewBag.Status == false)
                    {
                        <option>All</option>
                        <option selected value="false">Active</option>
                        <option value="true">DeActive</option>
                    }
                    else
                    {
                        <option>All</option>
                        <option value="false">Active</option>
                        <option selected value="true">DeActive</option>
                    }

                </select>
            </div>
            @*<div class="col-lg-4">
                <label>Role Status</label>
                <select class="form-control" name="isMainRoute">
                    @if (ViewBag.isRole == null)
                    {
                        <option selected>All</option>
                        <option value="Admin">Admin</option>
                        <option value="Publisher">Publisher</option>
                        <option value="Maneger">Maneger</option>
                        <option value="Member">Member</option>
                    }
                    else if (ViewBag.isRole == "Admin")
                    {
                        <option>All</option>
                        <option selected value="Admin">Admin</option>
                        <option value="Publisher">Publisher</option>
                        <option value="Maneger">Maneger</option>
                        <option value="Member">Member</option>
                    }

                    else
                     if (ViewBag.isRole == "Publisher")
                    {
                        <option>All</option>
                        <option value="Admin">Admin</option>
                        <option selected value="Publisher">Publisher</option>
                        <option value="Maneger">Maneger</option>
                        <option value="Member">Member</option>
                    }
                    else
                    if (ViewBag.isRole == "Maneger")
                    {
                        <option>All</option>
                        <option value="Admin">Admin</option>
                        <option value="Publisher">Publisher</option>
                        <option selected value="Maneger">Maneger</option>
                        <option value="Member">Member</option>
                    }
                    else
                    {
                        <option>All</option>
                        <option value="Admin">Admin</option>
                        <option value="Publisher">Publisher</option>
                        <option value="Maneger">Maneger</option>
                        <option selected value="Member">Member</option>
                    }

                </select>
            </div>*@
            <div class="d-flex align-items-end">
                <button type="submit" class="btn btn-primary mx-2">Filter</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-lg-12 tagTable box-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Surname</th>
                    <th scope="col" class="text-center">Phone</th>
                    <th scope="col" class="text-center">Role</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Setting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserVM appUser in Model)
                {
                    count++;
                    <tr class="text-center">
                        <th scope="row">@count</th>
                        <td style="vertical-align: inherit; vertical-align: middle ">
                            @if (appUser.Image != null)
                            {
                                <div style="width:50%; display:inline-table">
                                    <img class="img-fluid img-thumbnail" src="~/User/assets/img/userimg/@appUser.Image" alt="Alternate Text" style="max-width:120px;max-height:120px; object-fit:contain " />
                                </div> }
                            else
                            {
                                <div style="width:50%; display:inline-table">
                                    <img class="img-fluid img-thumbnail" src="~/User/assets/img/userimg/Avatar-Profile-PNG.png" alt="Alternate Text" style="max-width:120px;max-height:120px; object-fit:contain " />
                                </div>}
                        </td>
                        <td style="vertical-align: inherit">@appUser.Name</td>

                        <td style="vertical-align: inherit">@appUser.SurName</td>
                        <td style="vertical-align: inherit">@appUser.PhoneNumber</td>
                        <td style="vertical-align: inherit">
                            @if (appUser.Role != null)
                            {@(appUser.Role) }
                            else
                            { @("Role Empty")}
                        </td>



                        <td style="color:@(appUser.IsDeleted ? "red":"green");vertical-align: inherit ">@(appUser.IsDeleted ? "DeActive":"Active")</td>
                        <td style="vertical-align: inherit ">
                            <a class="btn btn-info" asp-action="Detail" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Detail</a>
                            <a class="btn btn-primary" asp-action="Update" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Update</a>
                            @*@if (appUser.IsDeleted)
                            {
                                <a class="btn btn-success" asp-action="Delete" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Restore</a> }
                            else
                            {
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@appUser.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Delete</a>}*@

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (ViewBag.PageIndex > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-route-page="1" asp-route-status="@ViewBag.Status" aria-label="Previous">
                            @("<<")
                        </a>
                    </li>

                    <li class="page-item">

                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                            @("<")
                        </a>
                    </li>
                }

                @for (int i = 1; i <= @ViewBag.PageCount; i++)
                {
                    if (i == @ViewBag.PageIndex || i == @ViewBag.PageIndex - 1 || i == @ViewBag.PageIndex + 1)
                    {
                        if (i == @ViewBag.PageIndex)
                        {
                            <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>
                        }
                        else if (@ViewBag.PageIndex == 1 && @ViewBag.PageCount > 2)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(i+1)" asp-route-status="@ViewBag.Status">@(i+1)</a></li>
                        }
                        else if (@ViewBag.PageIndex == @ViewBag.PageCount && @ViewBag.PageCount > 2)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(i-1)" asp-route-status="@ViewBag.Status">@(i-1)</a></li>
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i) </a></li>
                        }
                    }


                }

                @if (ViewBag.PageIndex < ViewBag.PageCount)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex+1)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                            @(">")
                        </a>
                    </li>

                    <li class="page-item">

                        <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageCount)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                            @(">>")
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@section Script{
    <script src="~/admin/js/sweetalert2.all.min.js"></script>
    <script src="~/admin/js/Custom.js" asp-append-version="true"></script>
    <script></script>
}

@section Style{
    <link href="~/admin/css/sweetalert2.min.css" rel="stylesheet" />
}


