@model IEnumerable<Product>
@{ int count = (ViewBag.PageIndex - 1) * 5;
    string tags = "";

    var TitleAdd = "";

    }


<div class="col-lg-12 table-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Image</th>
                <th scope="col" class="text-center">Title</th>
                <th scope="col" class="text-center">Count</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Discount Price</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">Category</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Setting</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                count++;
                tags = string.Join(", ", product.ProductTags.Select(p => p.Tag.Name));
                TitleAdd = string.Join(" ", product.ProductDetails.Where(x => x.DetailKey.ForTitle).Select(p => p.DetailValue.Name));
                <tr class="text-center">
                    <th scope="row">@count</th>
                    <td style="vertical-align: inherit; vertical-align: middle ">
                        @if (product.MainImage != null)
                        {
                            <div style="width:50%; display:inline-table">
                                <img class="img-fluid img-thumbnail" src="~/User/assets/img/ProductImg/@product.MainImage" alt="Alternate Text" style="max-width: 80px; max-height: 120px; object-fit: contain " />
                            </div>
                        }
                        else
                        {
                            <span class="text-danger">Empty</span>
                        }
                    </td>
                    <td style="vertical-align: inherit">@product.Title @TitleAdd</td>

                    <td style="vertical-align: inherit">@product.Count</td>
                    <td style="vertical-align: inherit">@product.Price</td>
                    <td style="vertical-align: inherit">@product.DiscountPrice</td>
                    <td style="vertical-align: inherit">@product.Brand.Name</td>
                    <td style="vertical-align: inherit">@product.Category.Name</td>


                    <td style="color:@(product.IsDeleted ? "red":"green");vertical-align: inherit ">@(product.IsDeleted ? "DeActive":"Active")</td>
                    <td style="vertical-align: inherit; width: 24%">

                        <a class="btn btn-success" asp-action="Detail" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Show Detail</a>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Update</a>
                        @if (product.IsDeleted)
                        {
                            <a class="btn btn-success" asp-action="Delete" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Restore</a> }
                        else
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Delete</a>

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="col-lg-12 d-flex pt-3 justify-content-center " style="background-color: #e4e5e7">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (ViewBag.PageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link PageBtn" asp-action="PageChange" asp-route-page="1" asp-route-status="@ViewBag.Status" aria-label="Previous">
                        @("<<")
                    </a>
                </li>

                <li class="page-item">

                    <a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(ViewBag.PageIndex-1)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                        @("<")
                    </a>
                </li>

            }
            else
            {
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        @("<<")
                    </a>
                </li>

                <li class="page-item">

                    <a class="page-link" aria-label="Previous">
                        @("<")
                    </a>
                </li>
            }

            @for (int i = 1; i <= @ViewBag.PageCount; i++)
            {
                if (i == @ViewBag.PageIndex || i == @ViewBag.PageIndex - 1 || i == @ViewBag.PageIndex + 1)
                {
                    if (i == @ViewBag.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>
                    }
                    else if (@ViewBag.PageIndex == 1 && @ViewBag.PageCount > 2)
                    {
                        <li class="page-item"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>
                        <li class="page-item"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i+1)" asp-route-status="@ViewBag.Status">@(i+1)</a></li>
                    }
                    else if (@ViewBag.PageIndex == @ViewBag.PageCount && @ViewBag.PageCount > 2)
                    {
                        <li class="page-item"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i-1)" asp-route-status="@ViewBag.Status">@(i-1)</a></li>
                        <li class="page-item"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i)</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(i)" asp-route-status="@ViewBag.Status">@(i) </a></li>
                    }
                }


            }

            @if (ViewBag.PageIndex < ViewBag.PageCount)
            {
                <li class="page-item">
                    <a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(ViewBag.PageIndex+1)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                        @(">")
                    </a>
                </li>

                <li class="page-item">

                    <a class="page-link PageBtn" asp-action="PageChange" asp-route-page="@(ViewBag.PageCount)" asp-route-status="@ViewBag.Status" aria-label="Previous">
                        @(">>")
                    </a>
                </li>

            }
            else
            {
                <li class="page-item">
                    <a class="page-link red" aria-label="Previous">
                        @(">")
                    </a>
                </li>

                <li class="page-item">

                    <a class="page-link " aria-label="Previous">
                        @(">>")
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

