@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<!-- main wrapper start -->
<main>
    <!-- hero slider section start -->
    <section class="hero-slider">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">

                        @foreach (Slider slider in Model.Sliders)
                        {
                            <div class="hero-single-slide">
                                <div class="hero-slider-item bg-img" data-bg="assets/img/slider/@slider.SliderImage">
                                    <div class="hero-slider-content slide-1">
                                        <h5 class="slide-subtitle">@slider.Subtitle</h5>
                                        <h2 class="slide-title">@slider.Title</h2>
                                        <p class="slide-desc">@slider.Description</p>
                                        <a href="shop.html" class="btn btn-hero">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero slider section end -->
    <!-- service features start -->
    <section class="service-policy-area">
        <div class="container">
            <div class="row">
                <!-- single policy item start -->
                @foreach (ServiceOffer item in Model.ServiceOffers)
                {
                    <div class="col-lg-4">
                        <div class="service-policy-item mt-30 bg-1">
                            <div class="policy-icon">
                                <img src="~/assets/img/banner/@item.Image" alt="policy icon">
                            </div>
                            <div class="policy-content">
                                <h5 class="policy-title">@item.Title</h5>
                                <p class="policy-desc">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
    <!-- service features end -->
    <!-- our product area start -->
    <section class="our-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Our Product</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                        <!-- product single item start -->
                        @await Html.PartialAsync("_ProductListPartial", Model.Products)

                        <!-- product single item start -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our product area end -->
    <!-- banner statistic area start -->
    <div class="banner-statistics">
        <div class="container">
            <div class="row no-gutters mtn-30">

                @foreach (Banner banner in Model.Banners)
                {
                    <div class="col-md-6">
                        <div class="img-container mt-30">
                            <a href="product-details.html">
                                <img src="~/assets/img/banner/@banner.BannerImage" alt="banner-image">
                            </a>
                            <div class="banner-text">
                                <h5 class="banner-subtitle">@banner.SubTitle</h5>
                                <h3 class="banner-title">@banner.Title.Substring(0, 1)<br>@banner.Title.Substring(1)</h3>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- banner statistic area end -->
    <!-- top seller area start -->
    <section class="top-seller-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">top seller</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="product-banner">
                        <a href="#">
                            <img src="~/assets/img/banner/banner-3.jpg" alt="product banner">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="top-seller-carousel slick-row-15 mtn-30">
                        @foreach (Product product in Model.Products.Where(p => p.TopSeller))
                        {
                            <div class="slide-item">
                                <div class="pro-item-small mt-30">
                                    <div class="product-thumb">
                                        <a href="product-details.html">
                                            <img src="~/assets/img/product/@product.MainImage" alt="">
                                        </a>
                                    </div>
                                    <div class="pro-small-content">
                                        <h6 class="product-name">
                                            <a href="product-details.html">@product.Name</a>
                                        </h6>
                                        <div class="price-box">
                                            @if (product.DiscountPrice > 0)
                                            {
                                                <span class="price-regular">€@product.DiscountPrice.ToString("0.00")</span>
                                                <span class="price-old">€<del>@product.SalePrice.ToString("0.00")</del></span>
                                            }
                                            else
                                            {
                                                <span class="price-regular"><del>€@product.SalePrice.ToString("0.00")</del></span>
                                            }
                                        </div>
                                        <div class="ratings">
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                        </div>
                                        <div class="product-link-2">
                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                            <a asp-controller="product" asp-action="DetailModal" asp-route-id="@product.Id" class="productdetail" data-toggle="modal" data-target="#quick_view">
                                                <span data-toggle="tooltip"
                                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top seller area end -->
    <!-- latest blog area start -->
    <section class="latest-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">our blog</h2>
                        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-carousel-active slick-row-15">
                        <!-- blog single item start -->
                        @foreach (Blog blog in Model.Blogs)
                        {
                            <div class="blog-post-item">
                                <div class="blog-thumb">
                                    <a href="blog-details.html">
                                        <img src="~/assets/img/blog/@blog.BlogImage" alt="blog thumb">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="blog-title">
                                        <a href="blog-details.html">
                                            @blog.Title
                                        </a>
                                    </h5>
                                    <ul class="blog-meta">
                                        <li><span>By: </span>@blog.Publisher.PublisherName,</li>
                                        <li><span>On: </span>@blog.CreatedAt</li>
                                    </ul>
                                    <a href="blog-details.html" class="read-more">Read More...</a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest blog area end -->
    <!-- brand area start -->
    <div class="brand-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-active-carousel">

                        @foreach (Brand brand in Model.Brands)
                        {
                            <div class="brand-item">
                                <a href="#">
                                    <img src="~/assets/img/brand/@brand.BrandImage" alt="brand image">
                                </a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->
</main>
<!-- main wrapper end -->
@section Scripts{
<script>
    $(document).ready(function () {

        $(document).on("click", ".productdetail", function (e) {
            e.preventDefault();
            //console.log($(this).attr("href"))


            let url = $(this).attr("href");
            fetch(url).then(res => res.text()).then(data => {
                $(".modal-content").html(data);

                $('.product-large-slider').slick({
                    fade: true,
                    arrows: false,
                    asNavFor: '.pro-nav'
                });
                // product details slider nav active
                $('.pro-nav').slick({
                    slidesToShow: 4,
                    asNavFor: '.product-large-slider',
                    arrows: false,
                    focusOnSelect: true
                });

                $("#quick_view").modal("show");

            })
        })


        $(document).on("click", "#addbasketbtn", function (e) {

            e.preventDefault()
            var notification = document.querySelector(".notification")
            let url = $("#basketform").attr("action");
            let count = $("#productcount").val()
            let url2 = "/product/GetBasket"

            url = url + "?count=" + count;

            fetch(url).then(response => {

                return response.text()

            }).then(data => {
                $(".minicart-inner-content").html(data)

                fetch(url2).then(response => {

                    return response.text()

                }).then(data => {

                    notification.innerHTML = data.toString()
                })
            })
        })


        $(document).on("click", ".minicart-remove", function (e) {

            e.preventDefault()
            var notification = document.querySelector(".notification")
            let url = $(this).attr("href");

            let url2 = "/product/GetBasket"


            fetch(url).then(response => {

                return response.text()

            }).then(data => {
                $(".minicart-inner-content").html(data)

                fetch(url2).then(response => {

                    return response.text()

                }).then(data => {

                    notification.innerHTML = data.toString()
                })
            })
        })
    })
</script>
}
